body{
    margin:0;
    padding: 0;
    background-color: black;
}
#main{
    display: flex;
}
#menu{
    height: 10vh;
    width:25vw;
    line-height: 10vh;
    text-align: center;
    font-size:2em;
    font-weight: bolder;
    color:white;
}
.menu{
    height:10vh;
    width:8.5vw;
    line-height: 10vh;
    text-align: center;
    font-size:1em;
    font-weight: bold;
    color:white;
}
#im{
    height: 50vh;
    width: 99vw;
    background-image: url('Images/lcu\ back.jpg');
}
#im img{
    height:100%;
    width: 100%;
    overflow: hidden;
    border-radius: 2vh;
}
#ima{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10vh;
    width: 80w;
    position: absolute;
    margin:10vh;
    color: white;
    line-height: 3vh;
    text-align: center;
}
#abo{
    height: 50vh;
    width: 100vw;
}
a{
    text-decoration: none;
}
#game1{
    height: 70vh;
    width: 60vw;
    background-color: beige;
    border-radius: 2vh;
    align-content: center;
}
#boxes{
    background-color: aqua;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3,auto);
}
.box{
    height: 15vh;
    width:10vw;
    line-height: 15vh;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}
.box:nth-child(n){
    border-top: none;
}
.box:nth-child(3n + 1){
    border-left: none;
}
.box:nth-child(3n + 3){
    border-right: none;
}
.box:nth-child(n+7){
    border-bottom: none;
}
#button{
    height: 6vh;
    width: 60vw;
    margin-top: 3vh;
    line-height: 3vh;
    text-align: center;
}
#button button{
    height: 6vh;
    width: 15vw;
    font-size: 1.2em;
    border-radius: 2vh;
    border: none;
    background-color: chocolate;
    color: white;
}